## python basics
Python is a high-level, interpreted programming language known for its simplicity and readability. It allows developers to write clear programs for both small and large-scale projects

In [1]:
print("welcome to python")

welcome to python

In [2]:
print("Hello, I am Sanju.")
print("Starting my Python to ML journey.")

Hello, I am Sanju.
Starting my Python to ML journey.

## variables in python

In [4]:
#variables
a=6  #assigning a integer to the variable a
print(a)

6

In [3]:
name="sanju"  #assigning a string to variable
print(name)

sanju

### Data Types in Python

int: For integers --->1,2,3
float: For floating-point numbers --> 6.14, -0.001
str: For strings --->"sanju" , "Python"  -->use double braces for integer
bool: For boolean values -->True or False

In [6]:
# type 
a=213
name="sanju"
age=23.5
car=True
print("a", type(a))
print(type(name))
print(type(age))
print(type(car))

a <class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [18]:
#typeconversion
age=21
print(type(age))
print(int(age))
print(type(str(age)))

<class 'int'>
21
<class 'str'>

In [21]:
age="22.4"
print(type(age))
agee=float(age)
print(type(agee))

<class 'str'>
<class 'float'>

### Input/Output

In [24]:
#input
name=input("enter your name")
print(name)

enter your name sanju

sanju

In [25]:
age=input("enter your age")
print(age)

enter your age 21

21

In [28]:
# float
age=float(input("enter your age"))
print(age)

enter your age 21

21.0

In [29]:
# float
age=float(input("enter your age"))
print(age)

enter your age 23.5

23.5

In [30]:
#Output

In [35]:
#using cocatinating method
name="sanju"
age=21
print("name is "+ name +" and age is "+ age)  #it will give error becouse we cant able to cocatenate str to int

TypeError: can only concatenate str (not "int") to str

In [38]:
#using cocatinating method
name="sanju"
age=21
print("name is "+ name +" and age is "+ str(age))  #needs to typecovert like this  age to str(age)

name is sanju and age is 21

In [40]:
# use f-strings or formatted string literals
print(f"name is {name} and age difference is {age}")

name is sanju and age difference is 21

In [44]:
#string repetition
name="sanju"*3
print(name)

sanjusanjusanju

String Methods:
upper(): Converts a string to uppercase.
lower(): Converts a string to lowercase.
strip(): Removes leading or trailing spaces from a string.
replace(): Replaces a substring with another string-->replaces a old with the new string

In [49]:
name="  SanJUHs Is A ProGramMer"
print(name.upper())

  SANJUHS IS A PROGRAMMER

In [50]:
print(name.lower())

  sanjuhs is a programmer

In [52]:
print(name.strip())

SanJUHs Is A ProGramMer

In [55]:
print(name.replace("ProGramMer","developer"))

  SanJUHs Is A developer

In [56]:
#accessing a string 
print(name[2])

S

In [57]:
print(name[-1])

r

In [59]:
#slicing
print(name[0:5:2])

 Sn

In [60]:
print(name[0:5])

  San